{{!--
Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
І котрий обгортає код container файлів для будь-яких ендпоїнтів
--}}
<!DOCTYPE html>
<html>

<head>
    <title>
        DASHBOARD Page
    </title>
    <meta charset='utf-8' />
    <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
    <link rel="manifest" href="/fav/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link href='css/normalize.css' rel='stylesheet' />
    <link href='css/dashboard.css' rel='stylesheet' />

    <meta name="viewport"
        content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

</head>

<body>
    <div class="page page--dashboard">
        <aside class="page__aside aside vertical vertical--big">
            <div class="aside_logo text">Sidebar</div>
            <nav class="vertical vertical--small">
                <a href="#" class="nav-button nav-button--active click">
                    <span class="icon nav-button__icon" style="background-image: url('/svg/nav/home.svg')"></span>
                    <span class="text text--light">Home</span>
                </a>
                <a href="#" class="nav-button click">
                    <span class="icon nav-button__icon" style="background-image: url('/svg/nav/orders.svg')"></span>
                    <span class="text text--light">Orders</span>
                </a>
                <a href="#" class="nav-button  click">
                    <span class="icon nav-button__icon" style="background-image: url('/svg/nav/products.svg')"></span>
                    <span class="text text--light">Products</span>
                </a>
            </nav>
        </aside>
        <header class="header">
            <div class="layout header__content text--small">
                <div class="header__search relative">
                    <input type="text" placeholder="Search" class="field field--header text">
                    <span class="icon header__icon-search"
                        style="background-image: url('/svg/header/search.svg')"></span>
                    <span class="icon icon--header-settings icon-button icon--color-blue click"
                        style="background-image: url('/svg/header/settings.svg')"></span>
                </div>
                <div class="pictures_right">
                    <span class="icon icon--header-pictures icon-button icon--color-yellow-light click"
                        style="background-image: url('/svg/header/antena.svg')"></span>
                    <span class="icon icon--header-pictures icon-button icon--color-blue-light click"
                        style="background-image: url('/svg/header/symbols.svg')"></span>
                    <span class="icon icon--header-pictures icon-button icon--color-yellow-light click"
                        style="background-image: url('/svg/header/bell.svg')"></span>
                </div>

            </div>
        </header>
        <main class=" main">
            <div class="layout">
                <section class="box analytic__block">
                    <div class="analytic analytic--double analytic--purple">
                        <span class="icon analytic__button icon-button analytic--purple-button click"
                            style="background-image: url('/svg/analityc/money.svg')"></span>
                        <div class="relative vertical vertical--small">
                            <div class="analytic__title text text--light">$500.00</div>
                            <div class="text text--small text--lighter">Total earning</div>

                            <span class="icon analytic__arrow"
                                style="background-image: url('/svg/analityc/arrow-up.svg')"></span>
                        </div>
                    </div>
                    <div class="analytic analytic--double analytic--blue">

                        <span class="icon analytic__button icon-button analytic--blue-button click"
                            style="background-image: url('/svg/analityc/order.svg')"></span>
                        <div class="relative vertical vertical--small">
                            <div class="analytic__title text text--light">$961</div>
                            <div class="text text--small text--lighter">Total Order</div>

                            <span class="icon analytic__arrow"
                                style="background-image: url('/svg/analityc/arrow-up.svg')"></span>
                        </div>

                    </div>
                    <div class="analytic analytic--blue">
                        <div class="analytic__content relative vertical vertical--small">
                            <span class="icon analytic__button icon-button analytic--blue-button click"
                                style="background-image: url('/svg/analityc/money.svg')"></span>
                            <div class="">
                                <div class="analytic__title--small text text-analytic--heading">$203k</div>
                                <div class="text text--small text--lighter">Total Income</div>
                            </div>
                        </div>
                    </div>
                    <div class="analytic analytic--border">
                        <div class="analytic__content relative vertical vertical--small">
                            <span class="icon analytic__button icon-button analytic--yellow-button click"
                                style="background-image: url('/svg/analityc/shop.svg')"></span>
                            <div class="">
                                <div class="analytic__title--small text ">$203k</div>
                                <div class="text text--small">Total Income</div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="bottom_row">
                    <section class="horyz_block box">
                        <div class="block_header">Purchase list</div>
                        <div class="divider"></div>
                        <div class="horyz_block_content">
                            <div class="horyz_block_content_rows">
                                <div class="text--small">ID437661</div>
                                <div class="text--small">AirOn ProCam</div>
                                <div class="text--small">132.32 EUR</div>
                                <div class="text--small">Customer</div>
                                <div class="text--small">May 11, 2023, 14:21</div>
                                <div class="text--small">7/8 USB Type-C</div>
                                <div class="text--small text--warning">Not paid</div>
                                <div class="text--small">robin@com.de</div>
                            </div>
                            <div class="divider"></div>
                            <div class="horyz_block_content_rows">
                                <div class="text--small">ID437661</div>
                                <div class="text--small">PHILIPS Essential</div>
                                <div class="text--small">543 USD</div>
                                <div class="text--small">Customer</div>
                                <div class="text--small">May 11, 2023, 14:21</div>
                                <div class="text--small">HD9200/90</div>
                                <div class="text--small text--success">Pay by Stripe</div>
                                <div class="text--small">dima@com.ua</div>
                            </div>

                        </div>
                    </section>

                    <section class="box">
                        <div class="block_header">Payment</div>
                        <div class="divider--small"></div>

                        <div class="vert_block_content">
                            <div class="radio">
                                <div class="radio_line">
                                    <div class="checkedcircle click"></div>
                                    <div>Credit card</div>
                                </div>
                                <div class="radio_line">
                                    <div class="circle click--radio"></div>
                                    <div class="text--small">Debit card</div>
                                </div>
                                <div class="radio_line">
                                    <div class="circle click--radio "></div>
                                    <div class="text--small">PayPal</div>
                                </div>
                            </div>
                            <div class="payment_info">
                                <div>
                                    <label for="" class="text--small text--line">Name on card</label>
                                    <input type="text" placeholder="" class="field text">
                                </div>
                                <div>
                                    <label for="" class="text--small text--line">Credit card number</label>
                                    <input type="text" placeholder="" class="field text">
                                </div>
                                <div>
                                    <label for="" class="text--small text--line">Expiration</label>
                                    <input type="text" placeholder="" class="field text">
                                </div>
                                <div>
                                    <label for="" class="text--small text--line">CVV</label>
                                    <input type="text" placeholder="" class="field text">
                                </div>

                            </div>

                            <div class="divider--small"></div>
                            <div class="place_info">
                                <div class=" relative click">
                                    <label for="" class="text--small text--line">Country</label>
                                    <div class="field field--select relative">
                                        <span class="text text-light">Choose...</span>
                                        <span class="icon header__icon-arr click"
                                            style="background-image: url('/svg/arr.svg')"></span>
                                    </div>
                                    <select class="field__select" name="" id="">
                                        <option value="Ukraine">Ukraine</option>
                                        <option value="Poland">Poland</option>
                                        <option value="U.K.">U.K.</option>
                                        <option value="France">France</option>
                                        <option value="Germany">Germany</option>
                                    </select>
                                </div>

                                <div class=" relative click">
                                    <label for="" class="text--small text--line">State</label>
                                    <div class="field field--select relative">
                                        <span class="text text-light">Choose...</span>
                                        <span class="icon header__icon-arr click"
                                            style="background-image: url('/svg/arr.svg')"></span>
                                    </div>
                                    <select class="field__select" name="" id="">
                                        <option value="Ukraine">Ukraine</option>
                                        <option value="Poland">Poland</option>
                                        <option value="U.K.">U.K.</option>
                                        <option value="France">France</option>
                                        <option value="Germany">Germany</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="divider--small"></div>
                        <div class="vert_block_button">
                            <button class="continue text text--light click">Continue to checkout</button>
                        </div>
                    </section>
                </section>
            </div>
        </main>
    </div>
</body>

</html>