{{!-- Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}
<main>
    {{!-- ------------------HEADER------------------------ --}}
    <section id="navmenu">
        <div class="head">
            <div class="black-header">
                {{#each header}}
                <a class="blbtn" href="{{url}}">
                    {{text}}
                </a>
                {{/each}}
            </div>
        </div>
    </section>

    <script>
        const navMenu = document.getElementById('navMenu');
        menuItems.forEach(item => {
            const link = document.createElement('a');
            link.href = item.url;
            link.textContent = item.text;
            navMenu.appendChild(link);
        });
    </script>

    {{!-- -------------WELCOME----------------------------- --}}
    <div class="welcome-container">
        <div class="welcome-left">
            <div class="welcome-text1">Яковлева Альона Ігорівна</div>
            <a class="welcome-mob" href="tel:+380939219393">+380 93 921 93 93</a>
        </div>
        <div class="welcome-logo">
            <img src='/img/logo_BD_w.png' alt="Logo Busi Do">
        </div>
        <div class="welcome-right">
            <div class="welcome-text2">Яковлев Максим Ігорович</div>
            <a class="welcome-mob" href="tel:+380632413351">+380 63 241 33 51</a>
        </div>
    </div>

    {{!-- ---------------VIDEO--------------------------- --}}

    <div class="video-section">
        <div class="sectionName">ВІТАЄМО!</div>
        <video controls>
            <source src="/videos/karatekid.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="line"></div>
    {{!-- -----------OUR TRAINERS------------------------------- --}}
    <section id="trainers">
        <div class="sectionName">КОМАНДА НАШИХ ТРЕНЕРІВ</div>
        <div class="listtrainers">
            <div class="item-left">
                <img src="/img/trainers/mi.jpg" alt=`Head of the "BUSI-DO" Club` class="photo">
                <div class="text">
                    <p class="train-header">старший тренер</p>
                    <p class="train-header">Яковлев Максим Ігорович</p>
                    <p class="train-status">Голова Клубу "БУСІ-ДО"</p>
                    <ul class="info">
                        <li>старший тренер по Карате 2-й Дан</li>
                        <li>почав займатися Карате-До Шотокан у 1994 р</li>
                        <li>тренерський досвід з 2006 р</li>
                        <li>кандидат у майстри спорту</li>
                        <li>багаторазовий чемпіон м.Києва та України</li>
                        <li>член Київської суддівської колегії</li>
                        <li>закінчив КМУ імені Б.Д. Грінченка, спеціальність: фізичне виховання</li>
                    </ul>
                </div>
            </div>
            <div class="item-right">
                <img src="/img/trainers/ai1.jpg" alt=`Головний суддя Клубу "БУСІ-ДО" ` class="photo">
                <div class="text">
                    <p class="train-header">старший тренер</p>
                    <p class="train-header">Яковлева Альона Ігорівна</p>
                    <p class="train-status">Головний суддя</p>
                    <p class="train-status">Клубу "БУСІ-ДО"</p>
                    <ul class="info">
                        <li>старший тренер по Карате 2-й Дан</li>
                        <li>почала займатися Карате-До Шотокан в 1991 р.</li>
                        <li>тренерський досвід із 2003 р.</li>
                        <li>кандидат у майстри спорту</li>
                        <li>багаторазова чемпіонка м.Києва та України</li>
                        <li>членкиня Київської суддівської колегії</li>
                        <li>закінчила КНТЕУ, спеціальність: магістр права, юрист</li>
                        <li>закінчила НПУ імені М.П. Драгоманова, спеціальність: фізичне виховання</li>
                    </ul>
                </div>

            </div>
            <div class="item-left">
                <img src="/img/trainers/ml.jpg" alt=`Instructor` class="photo">
                <div class="text">
                    <p class="train-header">молодша інструкторка</p>
                    <p class="train-header">Лисенко Марина</p>
                    {{!-- <p class="train-status">Голова Клубу "БУСІ-ДО"</p> --}}
                    <ul class="info">
                        <li>коричневий пояс 2 КЮ</li>
                        <li>почала займатися Карате-До Шотокан у 2016 р.</li>
                        <li>інструкторський досвід з 2023 р.</li>
                        <li>багаторазова Чемпіонка Києва та України</li>
                        <li>входить в судівську колегію м. Києва (практика бокового судді та секретаря майданчика)</li>

                    </ul>
                </div>
            </div>
            <div class="item-right">
                <img src="/img/trainers/ak.jpg" alt=`instructor` class="photo">
                <div class="text">
                    <p class="train-header">молодший інструктор</p>
                    <p class="train-header">Кудлай Артем</p>

                    <ul class="info">
                        <li>світло коричневый пояс 3 КЮ</li>
                        <li>почав займатися Карате-До Шотокан у 2017 р.</li>
                        <li>багаторазовий Чемпіон Києва та України</li>
                        <li>входить в судівську колегію м. Києва (боковий суддя)</li>

                    </ul>
                </div>

            </div>
            <div class="item-left">
                <img src="/img/trainers/sv.png" alt=`Instructor` class="photo">
                <div class="text">
                    <p class="train-header">молодша інструкторка</p>
                    <p class="train-header">Варава Софія</p>

                    <ul class="info">
                        <li>світло коричневий пояс 3 Кю</li>
                        <li>почала займатися карате-до шотокан у 2017 р.</li>
                        <li>багаторазова Чемпіонка Києва та України</li>
                        <li>входить в судівську колегію м. Києва (секретар)</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="line"></div>
    {{!-- -------Кнопка прокрутки вгору------------------- --}}
    <button id="scrollTopBtn" class="scroll-top-btn">
        <img src="/img/up5.jpg" alt="Scroll to Top">
    </button>
    <script>
        // Отримати кнопку
        const scrollTopBtn = document.getElementById('scrollTopBtn');

        // Показати/сховати кнопку в залежності від прокрутки
        window.onscroll = function () {
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                scrollTopBtn.style.display = 'block';
            } else {
                scrollTopBtn.style.display = 'none';
            }
        };

        // При натисканні прокрутити до верху
        scrollTopBtn.onclick = function () {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        };
    </script>

    {{!-- -----------SERVICES------------------------------- --}}
    <section id="service">
        <div class="sectionName">НАШІ СПОРТИВНІ ПРОПОЗИЦІЇ:</div>
        <div class="services">
            <!-- Перший елемент -->
            <div class="service-item">
                <img src="/img/services/karkids.jpg" alt="Традиційне карате">
                <h5>Традиційне карате для дітей від 5-ти років</h5>
                <p>Де проходять тренування:</p>
                <ul>
                    <li>СЗШ № 81</li>
                    <li>СЗШ №128</li>
                    <li>НВК "Сузір'я" №209</li>
                </ul>

            </div>
            <!-- Другий елемент -->
            <div class="service-item">
                <img src="/img/services/karadult.jpg" alt="Традиційне карате для дорослих">
                <h5>Традиційне карате для дорослих</h5>
                <br>
                <p>Де проходять тренування:</p>
                <ul>
                    <li>СЗШ № 81</li>
                    <li>СЗШ №128</li>

                </ul>
            </div>
            <!-- Третій елемент -->
            <div class="service-item">
                <img src="/img/services/karself.jpg" alt="Самозахист та індивідуальні заняття">
                <h5>Самозахист та індивідуальні заняття</h5>
                <p>Де проходять тренування:</p>
                <ul>
                    <li>СЗШ № 81</li>
                    <li>СЗШ №128</li>

                </ul>
            </div>
            <!-- Четвертий елемент -->
            <div class="service-item">
                <img src="/img/services/nunchaki.jpg" alt="Нунчаки">
                <h5>Нунчаки (групові заняття)</h5>
                <br>
                <p>Де проходять тренування:</p>
                <ul>
                    <li>СЗШ № 81</li>
                    <li>СЗШ №128</li>

                </ul>
            </div>

        </div>
        <div class="textfoot">
            <h4>ПЕРШЕ ТРЕНУВАННЯ БЕЗКОШТОВНЕ!</h4>
            <p>Тренування відбуваються три рази на тиждень.</p>
            <p>Більш детальну інформацію можна отримати за телефонами вказаними на сайті.</p>
        </div>
    </section>
    <div class="line"></div>
    {{!-- ---------------PHOTO MOMENTS--------------------------- --}}
    <section id="galery">
        <div class="sectionName">ФОТО: Спортивні моменти</div>
        <container class="gall">
            <div class="gallery">
                <div class="main-photo">
                    <img id="currentPhoto" src="/img/PhotoMoments/_E2A9554.jpg" alt="Фото">
                </div>
                <div class="thumbnails">
                    <div class="thumbnail">
                        <img src="/img/PhotoMoments/003-DSC_0490.jpg" alt="Мініатюра 1"
                            onclick="changePhoto('/img/PhotoMoments/003-DSC_0490.jpg')">
                    </div>
                    <div class="thumbnail">
                        <img src="/img/PhotoMoments/008-DSC_0498.jpg" alt="Мініатюра 2"
                            onclick="changePhoto('/img/PhotoMoments/008-DSC_0498.jpg')">
                    </div>
                    <div class="thumbnail">
                        <img src="/img/PhotoMoments/053-DSC_0150.jpg" alt="Мініатюра 3"
                            onclick="changePhoto('/img/PhotoMoments/053-DSC_0150.jpg')">
                    </div>
                    <div class="thumbnail">
                        <img src="/img/PhotoMoments/064-DSC_0192.jpg" alt="Мініатюра 4"
                            onclick="changePhoto('/img/PhotoMoments/064-DSC_0192.jpg')">
                    </div>
                    <div class="thumbnail">
                        <img src="/img/PhotoMoments/066-DSC_0194.jpg" alt="Мініатюра 5"
                            onclick="changePhoto('/img/PhotoMoments/066-DSC_0194.jpg')">
                    </div>
                    <div class="thumbnail">
                        <img src="/img/PhotoMoments/075-DSC_0214.jpg" alt="Мініатюра 6"
                            onclick="changePhoto('/img/PhotoMoments/075-DSC_0214.jpg')">
                    </div>
                    <div class="thumbnail">
                        <img src="/img/PhotoMoments/090-DSC_0237.jpg" alt="Мініатюра 7"
                            onclick="changePhoto('/img/PhotoMoments/090-DSC_0237.jpg')">
                    </div>
                    <div class="thumbnail">
                        <img src="/img/PhotoMoments/095-DSC_0255.jpg" alt="Мініатюра 8"
                            onclick="changePhoto('/img/PhotoMoments/095-DSC_0255.jpg')">
                    </div>
                    <div class="thumbnail">
                        <img src="/img/PhotoMoments/111-DSC_0275.jpg" alt="Мініатюра 9"
                            onclick="changePhoto('/img/PhotoMoments/111-DSC_0275.jpg')">
                    </div>
                    <div class="thumbnail">
                        <img src="/img/PhotoMoments/112-DSC_0276.jpg" alt="Мініатюра 10"
                            onclick="changePhoto('/img/PhotoMoments/112-DSC_0276.jpg')">
                    </div>
                    <div class="thumbnail">
                        <img src="/img/PhotoMoments/115-DSC_0281.jpg" alt="Мініатюра 11"
                            onclick="changePhoto('/img/PhotoMoments/115-DSC_0281.jpg')">
                    </div>
                    <div class="thumbnail">
                        <img src="/img/PhotoMoments/168-DSC_0369.jpg" alt="Мініатюра 12"
                            onclick="changePhoto('/img/PhotoMoments/168-DSC_0369.jpg')">
                    </div>
                    <div class="thumbnail">
                        <img src="/img/PhotoMoments/172-DSC_0374.jpg" alt="Мініатюра 13"
                            onclick="changePhoto('/img/PhotoMoments/172-DSC_0374.jpg')">
                    </div>
                    <div class="thumbnail">
                        <img src="/img/PhotoMoments/20181213_172945.jpg" alt="Мініатюра 14"
                            onclick="changePhoto('/img/PhotoMoments/20181213_172945.jpg')">
                    </div>
                    <div class="thumbnail">
                        <img src="/img/PhotoMoments/20181214_140544.jpg" alt="Мініатюра 15"
                            onclick="changePhoto('/img/PhotoMoments/20181214_140544.jpg')">
                    </div>
                    <div class="thumbnail">
                        <img src="/img/PhotoMoments/20181222_145004.jpg" alt="Мініатюра 16"
                            onclick="changePhoto('/img/PhotoMoments/20181222_145004.jpg')">
                    </div>
                    <div class="thumbnail">
                        <div class="thumbnail">
                            <img src="/img/PhotoMoments/20190201_163629.jpg" alt="Мініатюра 17"
                                onclick="changePhoto('/img/PhotoMoments/20190201_163629.jpg')">
                        </div>
                        <div class="thumbnail">
                            <img src="/img/PhotoMoments/20190210_215439.jpg" alt="Мініатюра 18"
                                onclick="changePhoto('/img/PhotoMoments/20190210_215439.jpg')">
                        </div>
                        <div class="thumbnail">
                            <img src="/img/PhotoMoments/20190522_151451.jpg" alt="Мініатюра 19"
                                onclick="changePhoto('/img/PhotoMoments/20190522_151451.jpg')">
                        </div>
                        <div class="thumbnail">
                            <img src="/img/PhotoMoments/20190529_154400.jpg" alt="Мініатюра 20"
                                onclick="changePhoto('/img/PhotoMoments/20190529_154400.jpg')">
                        </div>
                        <div class="thumbnail">
                            <img src="/img/PhotoMoments/20190530_180944.jpg" alt="Мініатюра 21"
                                onclick="changePhoto('/img/PhotoMoments/20190530_180944.jpg')">
                        </div>
                        <div class="thumbnail">
                            <img src="/img/PhotoMoments/20190530_181404.jpg" alt="Мініатюра 22"
                                onclick="changePhoto('/img/PhotoMoments/20190530_181404.jpg')">
                        </div>
                        <div class="thumbnail">
                            <img src="/img/PhotoMoments/20210526_162015.jpg" alt="Мініатюра 23"
                                onclick="changePhoto('/img/PhotoMoments/20210526_162015.jpg')">
                        </div>
                        <div class="thumbnail">
                            <img src="/img/PhotoMoments/20210526_195901.jpg" alt="Мініатюра 24"
                                onclick="changePhoto('/img/PhotoMoments/20210526_195901.jpg')">
                        </div>
                        <div class="thumbnail">
                            <img src="/img/PhotoMoments/20210928_184817.jpg" alt="Мініатюра 25"
                                onclick="changePhoto('/img/PhotoMoments/20210928_184817.jpg')">
                        </div>
                        <div class="thumbnail">
                            <img src="/img/PhotoMoments/DSC05083.jpg" alt="Мініатюра 26"
                                onclick="changePhoto('/img/PhotoMoments/DSC05083.jpg')">
                        </div>
                        <div class="thumbnail">
                            <img src="/img/PhotoMoments/DSC05095.jpg" alt="Мініатюра 27"
                                onclick="changePhoto('/img/PhotoMoments/DSC05095.jpg')">
                        </div>
                        <div class="thumbnail">
                            <img src="/img/PhotoMoments/IMAG0878.jpg" alt="Мініатюра 28"
                                onclick="changePhoto('/img/PhotoMoments/IMAG0878.jpg')">
                        </div>
                        <div class="thumbnail">
                            <img src="/img/PhotoMoments/IMAG2322.jpg" alt="Мініатюра 29"
                                onclick="changePhoto('/img/PhotoMoments/IMAG2322.jpg')">
                        </div>
                        <div class="thumbnail">
                            <img src="/img/PhotoMoments/IMG-c8-V.jpg" alt="Мініатюра 30"
                                onclick="changePhoto('/img/PhotoMoments/IMG-c8-V.jpg')">
                        </div>

                    </div>
                </div>
        </container>
        <script>
            function changePhoto(src) {
                document.getElementById('currentPhoto').src = src;
            }
        </script>
    </section>
    <div class="line"></div>
    {{!-- ---------------OUR CHAMPIONS--------------------------- --}}
    <section id="champ">
        <div class="sectionName">НАШІ ЧЕМПІОНИ:</div>
        <div class="gallery-container">
            <img src="/svg/ar_l.jpg" class="arrow left-arrow" id="left-arrow" alt="стрілка вліво">
            <div class="photo-gallery" id="photo-gallery">
                <!-- Сюди будуть динамічно додані фотографії -->
            </div>
            <img src="/svg/ar_r.jpg" class="arrow right-arrow" id="right-arrow" alt="стрілка вправо">
        </div>

        <script>
            const photos = [
                /*Список зображень*/
                '/img/Champions/1.jpg', '/img/Champions/2.jpg', '/img/Champions/3.jpg', '/img/Champions/4.jpg', '/img/Champions/5.jpg',
                '/img/Champions/6.jpg', '/img/Champions/7.jpg', '/img/Champions/8.jpg', '/img/Champions/9.jpg', '/img/Champions/10.jpg',
                '/img/Champions/11.jpg', '/img/Champions/ChampUkraine.jpg', '/img/Champions/group1.jpg', '/img/Champions/medals.jpg', '/img/Champions/trainers1.jpg',
                '/img/Champions/trainers2.jpg'
            ];

            const gallery = document.getElementById('photo-gallery');
            let currentIndex = 0;

            function createPhotoElement(src) {
                const img = document.createElement('img');
                img.src = src;
                return img;
            }

            function renderPhoto() {
                gallery.innerHTML = '';
                const img = createPhotoElement(photos[currentIndex]);
                gallery.appendChild(img);
            }

            document.getElementById('left-arrow').addEventListener('click', () => {

                currentIndex = (currentIndex > 0) ? currentIndex - 1 : photos.length - 1;
                renderPhoto();
            });

            document.getElementById('right-arrow').addEventListener('click', () => {
                currentIndex = (currentIndex < photos.length - 1) ? currentIndex + 1 : 0;
                renderPhoto();
            });

            // Початкове відображення фото
            renderPhoto();
        </script>
    </section>
    <div class="line"></div>
    {{!-- --------ABOUT---------------------------------- --}}
    <section id="abouteus">
        <div class="sectionName">ПРО КЛУБ:</div>
        <div class="slideshow-container">
            <div class="slide active">
                <div class="column">
                    <h3>Засновник клубу - ЯКОВЛЕВ ІГОР ЮРІЙОВИЧ</h3>
                    <img src="/img/about/iuyakovlev.jpg" alt="Засновник клубу І.Ю.Яковлев">
                </div>
                <div class="column">
                    <p>Почав займатися карате у 1977 році, а перші тренування проводив вже у 1986. Спочатку це були
                        тільки групи
                        для дорослих. </p>
                    <p> У 1992 р. закінчив курси підвищення кваліфікації тренерів зі східних єдиноборств при
                        Київському державному інституті фізичної культури. </p>
                    <p>З 1996 р. працював тренером у Київській Федерації Карате.</p> 
                    <p>  З 2001 р. входить до регіонального представництва ВФ ЯАК. </p>
                    <p>  У лютому 2003 року Яковлев Ігор Юрійович (3-й Дан) засновав "Дитячу громадську організацію
                        спортивно-оздоровчий клуб БУСІ-ДО".</p>
                </div>

            </div>
            <div class="slide">
                <div class="column">
                    <h3>Дитяча громадська організація
                        «Спортивно-оздоровчий клуб Бусі-До»</h3>
                    <img src="/img/about/logo_busi_do_UKR_white_letters.png" alt="Клуб Бусі До">
                </div>
                <div class="column">
                    <h4>Наш клуб - справжній енергетичний вибух!</h4>
                    <p>У нашому командному колі зібрано понад 150 небайдужих особистостей.</p>
                    <p>Що для нас важливіше за все? Це дисципліна, повага до один одного та неймовірно позитивна
                        атмосфера.</p>
                    <p>Зі здоровою дозою ентузіазму і відданості, ми об'єднуємо спільні цілі і важливі цінності.</p>
                    <p>Результат? Спортсмени стають чемпіонами різних турнірів як в Україні, так і за кордоном. Тренери
                        Клубу регулярно підвищують майстерність та беруть участь у різних міжнародних технічних
                        семінарах.</p>
                    <p>Основний стиль Карате-До, що вивчають у клубі - це Шотокан. Напрямки: FSKU , WJKA, карате-Дзюцу
                        (карате-контакт).</p>
                </div>
            </div>
            <div class="slide">
                <div class="column">
                    <h3>​Дитяча громадська організація
                        «Спортивно-оздоровчий клуб Бусі-До»</h3>
                    <img src="/img/about/logo_busi_do_UKR_white_letters.png" alt="Клуб Бусі До">
                </div>
                <div class="column">
                    <p>Сьогодні клуб карате "Бусі-До" — це втілення спортивної пристрасті та спадщини.</p>
                    <p>З 2021 року для нього почалася нова ера під керівництвом захоплюючого дуету – доньки та сина
                        Ігоря Юрійовича Яковлева: Альони Ігоревни та Максима Ігоровича.</p>
                    <p>Їхній вогонь та ентузіазм відбиваються в розвитку клубу, який кипить життям та енергією. </p>
                    <p>Клуб зростає та процвітає, наповнюючись молодими талантами, і вже молодші тренери вносять свій
                        внесок,
                        активно ведучи заняття.</p>
                    <p>Від учасників клубу до новачків, від старших до молодших - всі зберігають спадок і доповнюють
                        його.
                    </p>
                    <p>Тут вчаться не тільки карате, але й жити активно та вільно, з вірою у себе!</p>
                </div>
            </div>
            <div class="slide">
                <div class="column">
                    <h3>Основні Цілі та Завдання Нашого Клубу:</h3>
                    <img src="/img/about/logo_busi_do_UKR_white_letters.png" alt="Клуб Бусі До">
                </div>
                <div class="column">
                    <p>1. Молодь на хвилі здорового життя: Ми прагнемо залучити молодь до активного та здорового
                        способу життя, уникати тютюну, алкоголю, наркотиків та інших шкідливих звичок.</p>
                    <p>2. Фізична сила в єднанні: Наша мета - зміцнити загальний фізичний стан учнів клубу, підвищити їх
                        витривалість та силу.</p>
                    <p>3. Віра у себе - ключ до успіху: Ми навчаємо вірити у своє тіло та його потенціал, розкриваючи
                        можливості для досягнення вражаючих результатів.</p>
                    <p>4. Всебічний розвиток: Наш акцент - на розвиток гнучкості, координації рухів, спритності та
                        точності, створення гармонійного тіла.</p>
                </div>
            </div>
            <div class="slide">
                <div class="column">
                    <h3>Основні Цілі та Завдання Нашого Клубу:</h3>
                    <img src="/img/about/logo_busi_do_UKR_white_letters.png" alt="Клуб Бусі До">
                </div>
                <div class="column">
                    <p>5. Навчити усвідомлювати перевагу при взаємодії з неочікуваним супротивником, можливо володіючим
                        зброєю.</p>
                    <p>6. Перемога над собою: Ми допомагаємо нашим учням виявляти та долати власні слабкості, сприяючи
                        їх особистісному розвитку.</p>
                    <p>7. Розумне вирішення конфліктів: Ми вчимо виходити з конфліктних ситуацій, не втрачаючи гідності
                        та честі.</p>
                    <p>8. Навички для життя: Ми прагнемо виховати в наших учнів вміння протистояти труднощам та
                        тимчасовим невдачам, надихати на прагнення до більшого, поважати та підтримувати інших, мати
                        достатню самооцінку, відчувати
                        патріотизм та вірність, бути оптимістичними та досягати успіхів у всьому, розвивати себе та
                        підтримувати здоровий спосіб
                        життя.</p>
                </div>
            </div>
        </div>
        <button class="next-btn">Читати далі ...</button>
        <script>
            let currentSlideIndex = 0;
            const slides = document.querySelectorAll('.slideshow-container .slide');
            const totalSlides = slides.length;

            function showSlide(index) {
                // Сховати всі слайди
                slides.forEach(slide => slide.classList.remove('active'));
                // Показати тільки поточний слайд
                slides[index].classList.add('active');
            }

            document.querySelector('.next-btn').addEventListener('click', () => {
                currentSlideIndex = (currentSlideIndex + 1) % totalSlides;
                showSlide(currentSlideIndex);
            });

            // Показати перший слайд спочатку
            showSlide(currentSlideIndex);
        </script>
    </section>
    <div class="line"></div>
    {{!-- -------------SPORT CAMP----------------------------- --}}
    <section id="sportcamp">
        <div class="sectionName">СПОРТИВНІ ЗБОРИ:</div>
        <div class="frame-container">
            <div class="frame active">
                <p>Морські хвилі, що розбиваються о берег, солоний присмак морського повітря, нескінченна смуга піску,
                    що простягається до
                    самого горизонту — ці картини і звуки зустрічають дітей, коли вони прибувають до щорічного
                    спортивного табору,
                    організованого клубом. Розташований біля захоплюючого дух моря, цей табір є справжнім оазисом
                    веселощів, спорту та
                    пригод.</p>
            </div>
            <div class="frame">
                <p>Протягом багатьох років клуб проводить ці табори, надаючи дітям можливість уникнути щоденної рутини,
                    мобільних телефонів та гаджетів і поринути у захоплюючий світ спорту!</p>
            </div>
            <div class="frame">
                <p>А коли літнє сонце поступається місцем чистому прохолодному повітрю зими, центр уваги клубу
                    зміщується на величні Карпати. Засніжені вершини та незаймана дика природа є ідеальним фоном для
                    дітей та сприяє
                    тренуванням!
                </p>
            </div>
            <div class="frame">
                <p>Під ласкавим сонцем Карпат, біля Чорної Гори, розташований спортивний табір клубу. Дні наповнені
                    сміхом друзів, змаганнями на зеленому газоні та веселими іграми. Дзвінкий звук річки заспокоює, а
                    смерековий аромат
                    повітря робить кожен момент магічним. Тут зароджуються найкращі спогади та справжнє дружнє тепло.
                </p>
            </div>
            <div class="frame">
                <p>Основні цінності клубу залишаються незмінними. Тренери наголошують на важливості командної роботи,
                    дисципліни та наполегливості. Завдяки інтенсивним тренуванням й мотиваційним бесідам, дітям
                    прищеплюються цінності, які стануть їм у нагоді навіть за межами табору.</p>
            </div>
            <div class="frame">
                <p>Спортивні табори клубу БУСІ-ДО – це більше, ніж просто шанс для дітей розважитися, це можливість для
                    них навчатися, зростати та створювати спогади на все життя разом зі своїми однолітками!</p>
            </div>
        </div>
        <div class="indicator-container">
            <span class="indicator active"></span>
            <span class="indicator"></span>
            <span class="indicator"></span>
            <span class="indicator"></span>
            <span class="indicator"></span>
            <span class="indicator"></span>
        </div>

        <script>
            let currentFrameIndex = 0;
            const frames = document.querySelectorAll('.frame-container .frame');
            const indicators = document.querySelectorAll('.indicator');
            const totalFrames = frames.length;

            function showFrame(index) {
                // Сховати всі фрейми
                frames.forEach(frame => frame.classList.remove('active'));
                // Сховати всі індикатори
                indicators.forEach(indicator => indicator.classList.remove('active'));
                // Показати тільки поточний фрейм
                frames[index].classList.add('active');
                // Показати активний індикатор
                indicators[index].classList.add('active');
            }

            function nextFrame() {
                currentFrameIndex = (currentFrameIndex + 1) % totalFrames;
                showFrame(currentFrameIndex);
            }

            // Показати перший фрейм спочатку
            showFrame(currentFrameIndex);

            // Перемикати фрейми кожні 6 секунд
            setInterval(nextFrame, 6000);
        </script>


        <container class="gall">
            <div class="gallery">
                <div class="main-photo">
                    <img id="currentPhoto1" src="/img/camp/22.jpg" alt="Фото">
                </div>
                <div class="thumbnails">
                    <div class="thumbnail">
                        <img src="/img/camp/1.jpg" alt="Мініатюра 1" onclick="changePhoto_c('/img/camp/1.jpg')">
                    </div>
                    <div class="thumbnail">
                        <img src="/img/camp/2.jpg" alt="Мініатюра 2" onclick="changePhoto_c('/img/camp/2.jpg')">
                    </div>
                    <div class="thumbnail">
                        <img src="/img/camp/3.jpg" alt="Мініатюра 3" onclick="changePhoto_c('/img/camp/3.jpg')">
                    </div>
                    <div class="thumbnail">
                        <img src="/img/camp/4.jpg" alt="Мініатюра 4" onclick="changePhoto_c('/img/camp/4.jpg')">
                    </div>
                    <div class="thumbnail">
                        <img src="/img/camp/5.jpg" alt="Мініатюра 5" onclick="changePhoto_c('/img/camp/5.jpg')">
                    </div>
                    <div class="thumbnail">
                        <img src="/img/camp/6.jpg" alt="Мініатюра 6" onclick="changePhoto_c('/img/camp/6.jpg)">
                    </div>
                    <div class="thumbnail">
                        <img src="/img/camp/7.jpg" alt="Мініатюра 7" onclick="changePhoto_c('/img/camp/7.jpg')">
                    </div>
                    <div class="thumbnail">
                        <img src="/img/camp/8.jpg" alt="Мініатюра 8" onclick="changePhoto_c('/img/camp/8.jpg')">
                    </div>
                    <div class="thumbnail">
                        <img src="/img/camp/9.jpg" alt="Мініатюра 9" onclick="changePhoto_c('/img/camp/9.jpg')">
                    </div>
                    <div class="thumbnail">
                        <img src="/img/camp/10.jpg" alt="Мініатюра 10" onclick="changePhoto_c('/img/camp/10.jpg')">
                    </div>
                    <div class="thumbnail">
                        <img src="/img/camp/11.jpg" alt="Мініатюра 11" onclick="changePhoto_c('/img/camp/11.jpg')">
                    </div>
                    <div class="thumbnail">
                        <img src="/img/camp/12.jpg" alt="Мініатюра 12" onclick="changePhoto_c('/img/camp/12.jpg')">
                    </div>
                    <div class="thumbnail">
                        <img src="/img/camp/13.jpg" alt="Мініатюра 13" onclick="changePhoto_c('/img/camp/13.jpg')">
                    </div>
                    <div class="thumbnail">
                        <img src="/img/camp/14.jpg" alt="Мініатюра 14" onclick="changePhoto_c('/img/camp/14.jpg')">
                    </div>
                    <div class="thumbnail">
                        <img src="/img/camp/15.jpg" alt="Мініатюра 15" onclick="changePhoto_c('/img/camp/15.jpg')">
                    </div>
                    <div class="thumbnail">
                        <img src="/img/camp/16.jpg" alt="Мініатюра 16" onclick="changePhoto_c('/img/camp/16.jpg')">
                    </div>
                    <div class="thumbnail">
                        <div class="thumbnail">
                            <img src="/img/camp/17.jpg" alt="Мініатюра 17" onclick="changePhoto_c('/img/camp/17.jpg')">
                        </div>
                        <div class="thumbnail">
                            <img src="/img/camp/18.jpg" alt="Мініатюра 18" onclick="changePhoto_c('/img/camp/18.jpg')">
                        </div>
                        <div class="thumbnail">
                            <img src="/img/camp/19.jpg" alt="Мініатюра 19" onclick="changePhoto_c('/img/camp/19.jpg')">
                        </div>
                        <div class="thumbnail">
                            <img src="/img/camp/20.jpg" alt="Мініатюра 20" onclick="changePhoto_c('/img/camp/20.jpg')">
                        </div>
                        <div class="thumbnail">
                            <img src="/img/camp/21.jpg" alt="Мініатюра 21" onclick="changePhoto_c('/img/camp/21.jpg')">
                        </div>
                        <div class="thumbnail">
                            <img src="/img/camp/22.jpg" alt="Мініатюра 22" onclick="changePhoto_c('/img/camp/22.jpg')">
                        </div>
                        <div class="thumbnail">
                            <img src="/img/camp/23.jpg" alt="Мініатюра 23" onclick="changePhoto_c('/img/camp/23.jpg')">
                        </div>
                        <div class="thumbnail">
                            <img src="/img/camp/24.jpg" alt="Мініатюра 24" onclick="changePhoto_c('/img/camp/24.jpg')">
                        </div>
                        <div class="thumbnail">
                            <img src="/img/camp/25.jpg" alt="Мініатюра 25" onclick="changePhoto_c('/img/camp/25.jpg')">
                        </div>
                        <div class="thumbnail">
                            <img src="/img/camp/26.jpg" alt="Мініатюра 26" onclick="changePhoto_c('/img/camp/26.jpg')">
                        </div>
                        <div class="thumbnail">
                            <img src="/img/camp/27.jpg" alt="Мініатюра 27" onclick="changePhoto_c('/img/camp/27.jpg')">
                        </div>
                        <div class="thumbnail">
                            <img src="/img/camp/28.jpg" alt="Мініатюра 28" onclick="changePhoto_c('/img/camp/28.jpg')">
                        </div>
                        <div class="thumbnail">
                            <img src="/img/camp/29.jpg" alt="Мініатюра 29" onclick="changePhoto_c('/img/camp/29.jpg')">
                        </div>
                        <div class="thumbnail">
                            <img src="/img/camp/30.jpg" alt="Мініатюра 30" onclick="changePhoto_c('/img/camp/30.jpg')">
                        </div>
                        <div class="thumbnail">
                            <img src="/img/camp/31.jpg" alt="Мініатюра 31" onclick="changePhoto_c('/img/camp/31.jpg')">
                        </div>
                        <div class="thumbnail">
                            <img src="/img/camp/32.jpg" alt="Мініатюра 32" onclick="changePhoto_c('/img/camp/32.jpg')">
                        </div>
                        <div class="thumbnail">
                            <img src="/img/camp/33.jpg" alt="Мініатюра 33" onclick="changePhoto_c('/img/camp/33.jpg')">
                        </div>
                        <div class="thumbnail">
                            <img src="/img/camp/34.jpg" alt="Мініатюра 34" onclick="changePhoto_c('/img/camp/34.jpg')">
                        </div>
                        <div class="thumbnail">
                            <img src="/img/camp/35.jpg" alt="Мініатюра 35" onclick="changePhoto_c('/img/camp/35.jpg')">
                        </div>
                        <div class="thumbnail">
                            <img src="/img/camp/36.jpg" alt="Мініатюра 36" onclick="changePhoto_c('/img/camp/36.jpg')">
                        </div>
                        <div class="thumbnail">
                            <img src="/img/camp/37.jpg" alt="Мініатюра 37" onclick="changePhoto_c('/img/camp/37.jpg')">
                        </div>

                    </div>
                </div>
        </container>
        <script>
            function changePhoto_c(src) {
                document.getElementById('currentPhoto1').src = src;
            }
        </script>
    </section>
    <div class="line"></div>
    {{!-- --------------CONTACTS---------------------------- --}}
    <section id="address">
        <div class="sectionName">КОНТАКТИ:</div>

        <div class="contact-container">
            <div class="map-container">
                <iframe id="googleMap"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2413.418920043794!2d30.593739716380313!3d50.44910388439328!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cfedb7fe150d%3A0xe0e1147de7c7b020!2z0YPQuy4g0KDQsNC40YHRiyDQntC60LjQv9C90L7QuSwgNiwg0JrQuNC10LIsIDAyMDAw!5e0!3m2!1sru!2sua!4v1721641614797!5m2!1sru!2sua"
                    width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
            <div class="contact-info">
                <h3>СЗШ №128</h3>
                <p>Адреса: вул.Р.Окіпної 6</p>
                <p>5 хв пішки від ст.м."Лівобережна"</p>
                <br>
                <p>Тренер: Яковлева Альона Ігорівна</p>
            </div>
        </div>
        <div>
            <p class="schedule">ПН. 15:00 - 16:30;  16:30 - 18:00</p>
            <p class="schedule">СР. 15:00 - 16:30;  16:30 - 18:00</p>
            <p class="schedule">ПТ. 15:00 - 16:30;  16:30 - 18:00</p>
            <p class="schedule">Подробиці уточнюйте за телефоном: <a class="welcome-mob" href="tel:+380939219393">
                    +380
                    93 921 93 93</a>
            </p>

        </div>

        <script>
            document.querySelector('.map-container').addEventListener('click', function () {
                window.open('https://maps.app.goo.gl/XJUvu8nJoEzdfhRm8', '_blank');
            });
        </script>

        <div class="line"></div>

        <div class="contact-container">
            <div class="map-container">
                <iframe id="googleMap"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.976756222488!2d30.596980854125693!3d50.42290469854981!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c579c7cd5835%3A0xa50e484c2566bfbb!2z0YPQuy4g0JHQtdGA0LXQt9C90Y_QutC-0LLRgdC60LDRjywgMzIsINCa0LjQtdCyLCAwMjAwMA!5e0!3m2!1sru!2sua!4v1722349976389!5m2!1sru!2sua"
                    width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
            <div class="contact-info">
                <h3>НВК "Сузір'я" №209</h3>
                <p>Адреса: вул.Березняківська 32</p>
                <p>Дніпровський р-н, ж/м Березняки</p>
                <br>
                <p>Тренера: Яковлева Альона Ігорівна, <br> Яковлев Максим Ігорович</p>
            </div>
        </div>
        <div>
            <p class="schedule">ПН. 15-00 - 16:30;  18:30 - 20:00</p>
            <p class="schedule">СР. 15-00 - 16:30;  18:30 - 20:00</p>
            <p class="schedule">ПТ. 15-00 - 16:30;  18:30 - 20:00</p>
            <p class="schedule">Подробиці уточнюйте за телефонами: </p>
            <div class="foottel">
                <a class="welcome-mob" href="tel:+380939219393">+380 93 921 93 93</a> <br>
                <a class="welcome-mob" href="tel:+380632413351">+380 63 241 33 51</a>
            </div>
        </div>

        <script>
            document.querySelector('.map-container').addEventListener('click', function () {
                window.open('https://maps.app.goo.gl/XJUvu8nJoEzdfhRm8', '_blank');
            });
        </script>

        <div class="line"></div>
        <div class="contact-container">
            <div class="map-container">
                <iframe id="googleMap"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.6041409862814!2d30.60901079999999!3d50.429846700000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c5653dac8b07%3A0xab3e3454d5153d86!2z0L_RgNC-0YHQvy4g0J_QsNCy0LvQsCDQotGL0YfQuNC90YssIDIy0LAsINCa0LjQtdCyLCAwMjAwMA!5e0!3m2!1sru!2sua!4v1722348935210!5m2!1sru!2sua"
                    width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
            <div class="contact-info">
                <h3>СЗШ №81</h3>
                <p>Адреса: пр.П.Тичини 22-А</p>
                <p>Дніпровський р-н, ж/м Березняки</p>
                <br>
                <p>Тренер: Яковлев Максим Ігорович</p>
            </div>
        </div>
        <div>
            <p class="schedule">ПН. 17:00 - 18:30;  18:30 - 20:00</p>
            <p class="schedule">ВТ. 16:00 - 18:00; 18:00 - 20:00</p>
            <p class="schedule">СР. 17:00 - 18:30;  18:30 - 20:00</p>
            <p class="schedule">ЧТ. 16:00 - 18:00; 18:00 - 20:00</p>
            <p class="schedule">ПТ. 17:00 - 18:30;  18:30 - 20:00</p>
            <p class="schedule">СБ. 10:00 - 12:00; 12:00 - 14:00</p>
            <p class="schedule">Подробиці уточнюйте за телефоном: <a class="welcome-mob" href="tel:+380632413351">+380
                    63 241 33 51</a>
            </p>

        </div>

        <script>
            document.querySelector('.map-container').addEventListener('click', function () {
                window.open('https://maps.app.goo.gl/XJUvu8nJoEzdfhRm8', '_blank');
            });
        </script>
    </section>
    <footer>
        {{!-- ------------------------------------------ --}}
        <div class="whiteline"></div>
        <p class="footer">Karate Club "Busi-Do" 2024 <img class="cr" src="/img/cr.jpg"></p>
        <div class="whiteline1"> </div>
        <p class="footer my">This site was made by Verochka</p>
        <div class="whiteline"></div>
    </footer>
    {{!-- ------------------------------------------ --}}
</main>



{{!-- Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}