{{!-- Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}
<main>
    <div class="head">
        <div class="black-header">
            {{#each header}}
            <a class="blbtn" href="{{url}}">
                {{text}}
            </a>
            {{/each}}
        </div>
    </div>

    <div class="welcome-container">
        <div class="welcome-left">
            <div class="welcome-text1">Яковлева Альона Ігорівна</div>
            <a class="welcome-mob" href="tel:+380939219393">+380 93 921 93 93</a>
        </div>
        <div class="welcome-logo">
            <img src='/img/logo_BD_w.png' alt="Logo Busi Do">
        </div>
        <div class="welcome-right">
            <div class="welcome-text2">Яковлев Максим Ігорович</div>
            <a class="welcome-mob" href="tel:+380632413351">+380 63 241 33 51</a>
        </div>
    </div>

    {{!-- ------------------------------------------ --}}

    <div class="video-section">
        <div class="header-text gradient-text1">ВІТАЄМО!</div>
        <video controls>
            <source src="/videos/karatekid.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    {{!-- ------------------------------------------ --}}
    <div class="header-text gradient-text ">КОМАНДА НАШИХ ТРЕНЕРІВ</div>
    <div class="listtrainers">

        <div class="item-left">
            <img src="/img/trainers/mi.jpg" alt=`Head of the "BUSI-DO" Club` class="photo">
            <div class="text">
                <p class="train-header">старший тренер</p>
                <p class="train-header">Яковлев Максим Ігорович</p>
                <p class="train-status">Голова Клубу "БУСІ-ДО"</p>
                <ul class="info">
                    <li>старший тренер по карате 2-й Дан</li>
                    <li>почав займатися карате-до шотокан у 1994 р</li>
                    <li>тренерський досвід з 2006 р</li>
                    <li>кандидат у майстри спорту</li>
                    <li>багаторазовий чемпіон м.Києва та України</li>
                    <li>Член Київської суддівської колегії</li>
                    <li>закінчив КМУ імені Б.Д. Грінченка, спеціальність: фізичне виховання</li>
                </ul>
            </div>
        </div>
        <div class="item-right">
            <img src="/img/trainers/ai.jpg" alt=`Головний суддя Клубу "БУСІ-ДО" ` class="photo">
            <div class="text">
                <p class="train-header">старший тренер</p>
                <p class="train-header">Яковлева Альона Ігорівна</p>
                <p class="train-status">Головний суддя</p>
                <p class="train-status">Клубу "БУСІ-ДО"</p>
                <ul class="info">
                    <li>старший тренер по карате 2-й Дан</li>
                    <li>почала займатися карате-до шотокан в 1991 р.</li>
                    <li>тренерський досвід із 2003 р.</li>
                    <li>кандидат у майстри спорту</li>
                    <li>багаторазова чемпіонка м.Києва та України</li>
                    <li>Член Київської суддівської колегії</li>
                    <li>закінчила КНТЕУ, спеціальність: магістр права, юрист</li>
                    <li>закінчила НПУ імені М.П. Драгоманова, спеціальність: фізичне виховання</li>
                </ul>
            </div>

        </div>
        <div class="item-left">
            <img src="" alt="" class="photo">
            <div class="text">
                <p class="train-header">Асистент тренера</p>
                <p class="train-header">Кто то ктотович</p>
                <p class="train-status"></p>
                <ul class="info">
                    <li>займається карате з 2016року</li>
                    <li>призерка змагань</li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="item-right">
            <img src="" alt="" class="photo">
            <div class="text">
                <p class="train-header">Асистент тренера</p>
                <p class="train-header">Кто то ктотович</p>
                <p class="train-status"></p>
                <ul class="info">
                    <li>займається карате з 2016року</li>
                    <li>призерка змагань</li>
                    <li></li>
                    <li></li>
                </ul>
            </div>

        </div>
        <div class="item-left">
            <img src="" alt="" class="photo">
            <div class="text">
                <p class="train-header">Асистент тренера</p>
                <p class="train-header">Кто то ктотович</p>
                <p class="train-status"></p>
                <ul class="info">
                    <li>займається карате з 2016року</li>
                    <li>призерка змагань</li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>

    </div>
    {{!-- ------------------------------------------ --}}
    <div class="header-text gradient-text">НАШІ СПОРТИВНІ ПРОПОЗИЦІЇ:</div>
    <div class="services">
        <!-- Перший елемент -->
        <div class="service-item">
            <img src="/img/services/karkids.jpg" alt="Традиційне карате">
            <h5>Традиційне карате для дітей від 5-ти років</h5>
            <p>Де проходять тренування:</p>
            <ul>
                <li>СЗШ № 81</li>
                <li>СЗШ №128</li>
                <li>НВК "Сузір'я" №209</li>
            </ul>

        </div>
        <!-- Другий елемент -->
        <div class="service-item">
            <img src="/img/services/karadult.jpg" alt="Традиційне карате для дорослих">
            <h5>Традиційне карате для дорослих</h5>
            <br>
            <p>Де проходять тренування:</p>
            <ul>
                <li>СЗШ № 81</li>
                <li>СЗШ №128</li>

            </ul>
        </div>
        <!-- Третій елемент -->
        <div class="service-item">
            <img src="/img/services/karself.jpg" alt="Самозахист та індивідуальні заняття">
            <h5>Самозахист та індивідуальні заняття</h5>
            <p>Де проходять тренування:</p>
            <ul>
                <li>СЗШ № 81</li>
                <li>СЗШ №128</li>

            </ul>
        </div>
        <!-- Четвертий елемент -->
        <div class="service-item">
            <img src="/img/services/nunchaki.jpg" alt="Нунчаки">
            <h5>Нунчаки (групові заняття)</h5>
            <br>
            <p>Де проходять тренування:</p>
            <ul>
                <li>СЗШ № 81</li>
                <li>СЗШ №128</li>

            </ul>
        </div>

    </div>
    <div class="textfoot">
        <p>ПЕРШЕ ТРЕНУВАННЯ БЕЗКОШТОВНЕ!</p>
        <p>Всі тренування відбуваються три рази на тиждень.</p>
        <p>Більш детальну інформацію можна отримати за телефонами вказаними на сайті.</p>
    </div>
    {{!-- ------------------------------------------ --}}
    <div class="header-text gradient-text">ФОТО: Спортивні моменти</div>
    <container class="gall">
        <div class="gallery">
            <div class="main-photo">
                <img id="currentPhoto" src="/img/PhotoMoments/_E2A9554.jpg" alt="Фото">
            </div>
            <div class="thumbnails">
                <div class="thumbnail">
                    <img src="/img/PhotoMoments/003-DSC_0490.jpg" alt="Мініатюра 1"
                        onclick="changePhoto('/img/PhotoMoments/003-DSC_0490.jpg')">
                </div>
                <div class="thumbnail">
                    <img src="/img/PhotoMoments/008-DSC_0498.jpg" alt="Мініатюра 2"
                        onclick="changePhoto('/img/PhotoMoments/008-DSC_0498.jpg')">
                </div>
                <div class="thumbnail">
                    <img src="/img/PhotoMoments/053-DSC_0150.jpg" alt="Мініатюра 3"
                        onclick="changePhoto('/img/PhotoMoments/053-DSC_0150.jpg')">
                </div>
                <div class="thumbnail">
                    <img src="/img/PhotoMoments/064-DSC_0192.jpg" alt="Мініатюра 4"
                        onclick="changePhoto('/img/PhotoMoments/064-DSC_0192.jpg')">
                </div>
                <div class="thumbnail">
                    <img src="/img/PhotoMoments/066-DSC_0194.jpg" alt="Мініатюра 5"
                        onclick="changePhoto('/img/PhotoMoments/066-DSC_0194.jpg')">
                </div>
                <div class="thumbnail">
                    <img src="/img/PhotoMoments/075-DSC_0214.jpg" alt="Мініатюра 6"
                        onclick="changePhoto('/img/PhotoMoments/075-DSC_0214.jpg')">
                </div>
                <div class="thumbnail">
                    <img src="/img/PhotoMoments/090-DSC_0237.jpg" alt="Мініатюра 7"
                        onclick="changePhoto('/img/PhotoMoments/090-DSC_0237.jpg')">
                </div>
                <div class="thumbnail">
                    <img src="/img/PhotoMoments/095-DSC_0255.jpg" alt="Мініатюра 8"
                        onclick="changePhoto('/img/PhotoMoments/095-DSC_0255.jpg')">
                </div>
                <div class="thumbnail">
                    <img src="/img/PhotoMoments/111-DSC_0275.jpg" alt="Мініатюра 9"
                        onclick="changePhoto('/img/PhotoMoments/111-DSC_0275.jpg')">
                </div>
                <div class="thumbnail">
                    <img src="/img/PhotoMoments/112-DSC_0276.jpg" alt="Мініатюра 10"
                        onclick="changePhoto('/img/PhotoMoments/112-DSC_0276.jpg')">
                </div>
                <div class="thumbnail">
                    <img src="/img/PhotoMoments/115-DSC_0281.jpg" alt="Мініатюра 11"
                        onclick="changePhoto('/img/PhotoMoments/115-DSC_0281.jpg')">
                </div>
                <div class="thumbnail">
                    <img src="/img/PhotoMoments/168-DSC_0369.jpg" alt="Мініатюра 12"
                        onclick="changePhoto('/img/PhotoMoments/168-DSC_0369.jpg')">
                </div>
                <div class="thumbnail">
                    <img src="/img/PhotoMoments/172-DSC_0374.jpg" alt="Мініатюра 13"
                        onclick="changePhoto('/img/PhotoMoments/172-DSC_0374.jpg')">
                </div>
                <div class="thumbnail">
                    <img src="/img/PhotoMoments/20181213_172945.jpg" alt="Мініатюра 14"
                        onclick="changePhoto('/img/PhotoMoments/20181213_172945.jpg')">
                </div>
                <div class="thumbnail">
                    <img src="/img/PhotoMoments/20181214_140544.jpg" alt="Мініатюра 15"
                        onclick="changePhoto('/img/PhotoMoments/20181214_140544.jpg')">
                </div>
                <div class="thumbnail">
                    <img src="/img/PhotoMoments/20181222_145004.jpg" alt="Мініатюра 16"
                        onclick="changePhoto('/img/PhotoMoments/20181222_145004.jpg')">
                </div>
                <div class="thumbnail">
                    <img src="/img/PhotoMoments/.jpg" alt="Мініатюра 13"
                        onclick="changePhoto('/img/PhotoMoments/095-DSC_0255.jpg')">
                </div>
                <div class="thumbnail">
                    <img src="/img/PhotoMoments/20181222_145004.jpg" alt="Мініатюра 17"
                        onclick="changePhoto('/img/PhotoMoments/20181222_145004.jpg')">
                </div>
                <div class="thumbnail">
                    <img src="/img/PhotoMoments/20190201_163629.jpg" alt="Мініатюра 18"
                        onclick="changePhoto('/img/PhotoMoments/20190201_163629.jpg')">
                </div>
                <div class="thumbnail">
                    <img src="/img/PhotoMoments/20190210_215439.jpg" alt="Мініатюра 19"
                        onclick="changePhoto('/img/PhotoMoments/20190210_215439.jpg')">
                </div>
                <div class="thumbnail">
                    <img src="/img/PhotoMoments/20190522_151451.jpg" alt="Мініатюра 20"
                        onclick="changePhoto('/img/PhotoMoments/20190522_151451.jpg')">
                </div>
                <div class="thumbnail">
                    <img src="/img/PhotoMoments/20190529_154400.jpg" alt="Мініатюра 21"
                        onclick="changePhoto('/img/PhotoMoments/20190529_154400.jpg')">
                </div>
                <div class="thumbnail">
                    <img src="/img/PhotoMoments/20190530_180944.jpg" alt="Мініатюра 22"
                        onclick="changePhoto('/img/PhotoMoments/20190530_180944.jpg')">
                </div>
                <div class="thumbnail">
                    <img src="/img/PhotoMoments/20190530_181404.jpg" alt="Мініатюра 23"
                        onclick="changePhoto('/img/PhotoMoments/20190530_181404.jpg')">
                </div>
                <div class="thumbnail">
                    <img src="/img/PhotoMoments/20210526_162015.jpg" alt="Мініатюра 24"
                        onclick="changePhoto('/img/PhotoMoments/20210526_162015.jpg')">
                </div>
                <div class="thumbnail">
                    <img src="/img/PhotoMoments/20210526_195901.jpg" alt="Мініатюра 25"
                        onclick="changePhoto('/img/PhotoMoments/20210526_195901.jpg')">
                </div>
                <div class="thumbnail">
                    <img src="/img/PhotoMoments/20210928_184817.jpg" alt="Мініатюра 26"
                        onclick="changePhoto('/img/PhotoMoments/20210928_184817.jpg')">
                </div>
                <div class="thumbnail">
                    <img src="/img/PhotoMoments/20210929_080316.jpg" alt="Мініатюра 27"
                        onclick="changePhoto('/img/PhotoMoments/20210929_080316.jpg')">
                </div>
                <div class="thumbnail">
                    <img src="/img/PhotoMoments/DSC05083.jpg" alt="Мініатюра 28"
                        onclick="changePhoto('/img/PhotoMoments/DSC05083.jpg')">
                </div>
                <div class="thumbnail">
                    <img src="/img/PhotoMoments/DSC05095.jpg" alt="Мініатюра 29"
                        onclick="changePhoto('/img/PhotoMoments/DSC05095.jpg')">
                </div>
                <div class="thumbnail">
                    <img src="/img/PhotoMoments/IMAG0878.jpg" alt="Мініатюра 30"
                        onclick="changePhoto('/img/PhotoMoments/IMAG0878.jpg')">
                </div>
                <div class="thumbnail">
                    <img src="/img/PhotoMoments/IMAG2322.jpg" alt="Мініатюра 31"
                        onclick="changePhoto('/img/PhotoMoments/IMAG2322.jpg')">
                </div>
                <div class="thumbnail">
                    <img src="/img/PhotoMoments/IMG-c8-V.jpg" alt="Мініатюра 32"
                        onclick="changePhoto('/img/PhotoMoments/IMG-c8-V.jpg')">
                </div>

            </div>
        </div>
    </container>
    <script>
        function changePhoto(src) {
            document.getElementById('currentPhoto').src = src;
        }
    </script>


</main>



{{!-- Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}