{{!-- Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}
<main>
    <div class="head">
        <div class="black-header">
            {{#each header}}
            <a class="blbtn" href="{{url}}">
                {{text}}
            </a>
            {{/each}}
        </div>
    </div>

    <div class="welcome-container">
        <div class="welcome-left">
            <div class="welcome-text1">Яковлева Альона Ігорівна</div>
            <a class="welcome-mob" href="tel:+380939219393">+380 93 921 93 93</a>
        </div>
        <div class="welcome-logo">
            <img src='/img/logo_BD_w.png' alt="Logo Busi Do">
        </div>
        <div class="welcome-right">
            <div class="welcome-text2">Яковлев Максим Ігорович</div>
            <a class="welcome-mob" href="tel:+380632413351">+380 63 241 33 51</a>
        </div>
    </div>

</main>



{{!-- Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}