{{!-- Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}
<main class="m-5">
    <div class="card p-5">
        <p>Hello world!! vfadh fi eherf hwf</p>
        <span class="test"> Test </span>
    </div>
    <div class="deco">
        <p> My test Me text My ymymymymy</p>
    </div>
</main>

{{!-- Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}