{{!-- Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}
<main>
    <div class="head">
        <div class="black-header">
            {{#each header}}
            <a class="blbtn" href="{{url}}">
                {{text}}
            </a>
            {{/each}}
        </div>
    </div>

    <div class="welcome-container">
        <div class="welcome-left">
            <div class="welcome-text1">Яковлева Альона Ігорівна</div>
            <a class="welcome-mob" href="tel:+380939219393">+380 93 921 93 93</a>
        </div>
        <div class="welcome-logo">
            <img src='/img/logo_BD_w.png' alt="Logo Busi Do">
        </div>
        <div class="welcome-right">
            <div class="welcome-text2">Яковлев Максим Ігорович</div>
            <a class="welcome-mob" href="tel:+380632413351">+380 63 241 33 51</a>
        </div>
    </div>

    {{!-- ------------------------------------------ --}}

    <div class="video-section">
        <div class="header-text">ДАВАЙТЕ ЗНАЙОМИТИСЯ!</div>
        <video controls>
            <source src="/videos/karatekid.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    {{!-- ------------------------------------------ --}}
    <div class="header-text">КОМАНДА НАШИХ ТРЕНЕРІВ</div>
    <div class="listtrainers">

        <div class="item-left">
            <img src="/img/trainers/mi.jpg" alt=`Head of the "BUSI-DO" Club` class="photo">
            <div class="text">
                <p class="train-header">старший тренер</p>
                <p class="train-header">Яковлев Максим Ігорович</p>
                <p class="train-status">Голова Клубу "БУСІ-ДО"</p>
                <ul class="info">
                    <li>старший тренер по карате 2-й Дан</li>
                    <li>почав займатися карате-до шотокан у 1994 р</li>
                    <li>тренерський досвід з 2006 р</li>
                    <li>кандидат у майстри спорту</li>
                    <li>багаторазовий чемпіон м.Києва та України</li>
                    <li>Член Київської суддівської колегії</li>
                    <li>закінчив КМУ імені Б.Д. Грінченка, спеціальність: фізичне виховання</li>
                </ul>
            </div>
        </div>
        <div class="item-right">
            <img src="/img/trainers/ai.jpg" alt=`Головний суддя Клубу "БУСІ-ДО" ` class="photo">
            <div class="text">
                <p class="train-header">старший тренер</p>
                <p class="train-header">Яковлева Альона Ігорівна</p>
                <p class="train-status">Головний суддя</p>
                <p class="train-status">Клубу "БУСІ-ДО"</p>
                <ul class="info">
                    <li>старший тренер по карате 2-й Дан</li>
                    <li>почала займатися карате-до шотокан в 1991 р.</li>
                    <li>тренерський досвід із 2003 р.</li>
                    <li>кандидат у майстри спорту</li>
                    <li>багаторазова чемпіонка м.Києва та України</li>
                    <li>Член Київської суддівської колегії</li>
                    <li>закінчила КНТЕУ, спеціальність: магістр права, юрист</li>
                    <li>закінчила НПУ імені М.П. Драгоманова, спеціальність: фізичне виховання</li>
                </ul>
            </div>

        </div>
        <div class="item-left">
            <img src="" alt="" class="photo">
            <div class="text">
                <p class="train-header">Асистент тренера</p>
                <p class="train-header">Кто то ктотович</p>
                <p class="train-status"></p>
                <ul class="info">
                    <li>займається карате з 2016року</li>
                    <li>призерка змагань</li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="item-right">
            <img src="" alt="" class="photo">
            <div class="text">
                <p class="train-header">Асистент тренера</p>
                <p class="train-header">Кто то ктотович</p>
                <p class="train-status"></p>
                <ul class="info">
                    <li>займається карате з 2016року</li>
                    <li>призерка змагань</li>
                    <li></li>
                    <li></li>
                </ul>
            </div>

        </div>
        <div class="item-left">
            <img src="" alt="" class="photo">
            <div class="text">
                <p class="train-header">Асистент тренера</p>
                <p class="train-header">Кто то ктотович</p>
                <p class="train-status"></p>
                <ul class="info">
                    <li>займається карате з 2016року</li>
                    <li>призерка змагань</li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>

    </div>


</main>



{{!-- Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}