{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

{{!-- <div class="p-5 box">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <button type="button" class="button">Купити</button>
    <p>fsfgfeghehgeheh</p>
    <h2>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>
    <p>this is
        <em> my </em>text
    </p>
</div>
<section>
    <p> New new new text in section</p>
</section> --}}

{{!-- <div class="card p-5 m-5 card-dark">
    <ul>
        <li class="Item">111111</li>
        <li class="Item">222222</li>
        <li class="Item">333333</li>
        <li class="Item">444444</li>
        <li class="Item">444444</li>
        <li class="">444444</li>
        <li class="Item">444444</li>
        <li class="Item">444444</li>
        <li class="Item">444444</li>
        <li class="Item">444444</li>

    </ul>
</div>
<br>
<div class="card p-5 m-5 card-dark">
    <b>111111</b>
    <p>222222</p>
    <p>333333</p>
    <b>444444</b>
</div>

<div class="card p-5 m-5 card-dark">
    <arcticle>111111</arcticle>
    <arcticle>222222</arcticle>
    <b>333333</b>
    <arcticle>444444</arcticle>
</div> --}}
{{!-- <div class="card p-5 m-2 card-dark">
    <input class="input-dark" placeholder="Text some text" reqiured>
    <hr>

    <input class="input-dark" type="number">

</div>

<div class="card p-5 m-2 card-dark img">
    <img alt="image small card 100 px" class="small-img" src="https://picsum.photos/200/300" height="100px">
    <a href="https://picsum.photos/200/300" rel="external thwr wr t">link</a>
    <button class="btn">Click me</button>
    <br>
    <a href="https://picsum.photos/200/300" class="tynmyjm fsbtn bftn-primary">click</a>
    <br>
    <a href="https://picsum.photos/200/300" class="tynmyjm fsbtn bftn-primarybig">click me</a>

</div>
<div class="card p-5 m-2 card-dark img">

    <p class="big-text"> g wl rerherer h le elh/ <br>jrgtwk uerg. ergthj berhgk g h. erhk gre g jkhgerge. hgru erkheukrg
        erbghker g . erjugher gh. erth erjkghukebg.
    </p>

</div> --}}

<div class="card p-5 m-2 card-dark">
    <a class="link" href="#test">click me </a>
</div>

<div id="test" class="card p-5 m-2 card-dark">
    Якір
</div>

<div lang="en" id="test" class="card p-5 m-2 card-dark">
    <input>
    <span>Hello world!</span>
</div>
<div class="p-5 m-2 card-dark">
    <input class="inp">
    <div class="mt-5">
        <div> <input type="checkbox" checked>
            <span>1</span>
        </div>
        <div> <input type="checkbox">
            <span>2</span>
        </div>
    </div>

</div>
<div lang="en" id="test" class="card p-5 m-2 card-dark">
    <input type="email" required class="valid">

</div>

{{!-- Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}