:root {
  background-color: black; /* Чорний фон */
}
html {
  max-width: 1560px;
}
main {
  background-color: black;
  color: white; /* Білий текст */
  font-family: Arial, sans-serif; /* Встановлення шрифта */
}
.gradient-text {
  font-size: 50px;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 11%,
    rgba(255, 30, 16, 1) 47%,
    rgba(255, 30, 16, 1) 50%,
    rgba(255, 30, 16, 1) 53%,
    rgba(0, 0, 0, 1) 89%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text {
  font-size: 50px;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 4%,
    rgba(255, 30, 16, 1) 17%,
    rgba(255, 30, 16, 1) 50%,
    rgba(255, 30, 16, 1) 83%,
    rgba(0, 0, 0, 1) 95%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.head {
  display: flex;
  justify-content: center; /* Горизонтальне центрування */
  align-items: center; /* Вертикальне центрування */
  height: 48px; /* Висота контейнера на всю висоту вікна */
  background-color: black; /* Задній фон для всього екрану */
}
.black-header {
  display: flex;
  justify-content: center; /* Розташувати кнопки з рівними відступами між ними */
  gap: 12px;
  width: 100%;
  padding: 10px; /* Відступи навколо контейнера кнопок */
  background-color: black;
}

.blbtn {
  flex: none; /* Кожна кнопка займає рівну частину ширини контейнера */
  margin: 0 5px; /* Відступи між кнопками */
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  text-align: center; /* Вирівнювання тексту по центру кнопки */
  text-decoration: none; /* Відсутність підкреслення */
  transition: background 0.03s ease; /* Плавний перехід фону */
}

.blbtn:first-child {
  margin-left: 0; /* Відсутність відступу перед першою кнопкою */
}

.blbtn:last-child {
  margin-right: 0; /* Відсутність відступу після останньої кнопки */
}

.blbtn:hover {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 11%,
    rgba(230, 26, 14, 1) 50%,
    rgba(0, 0, 0, 1) 89%
  );
}

/* ---------------------------------------- */
.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px; /* Задайте ширину контейнера відповідно до вашого макету */
  margin: 0 auto; /* Центрування на сторінці */
  padding: 8px;
  /* background-color: #f0f0f0; Фоновий колір контейнера */
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 11%,
    rgba(255, 30, 16, 1) 40%,
    rgba(255, 30, 16, 1) 50%,
    rgba(255, 30, 16, 1) 60%,
    rgba(0, 0, 0, 1) 89%
  );
}

.welcome-left,
.welcome-right {
  flex: 1; /* Розтягнення блоків ліворуч і праворуч на однакове простір */
  text-align: center; /* Вирівнювання тексту по центру */
}
.welcome-mob {
  text-decoration: none;
  color: white;
}
.welcome-logo img {
  max-width: 160px; /* Максимальна ширина логотипу */
  max-height: 160px;
  margin: 4px; /* Відступ між логотипом і текстом */
}

@media (max-width: 768px) {
  .welcome-container {
    flex-direction: column; /* Розміщення у стовпчик на малих екранах */
  }

  .welcome-left,
  .welcome-right {
    flex: unset; /* Скасувати розтягнення на малих екранах */
    text-align: center; /* Вирівнювання тексту по центру */
  }
}

/* ------------------------------------------------------ */

.video-section {
  display: flex; /* Додаємо flexbox */
  flex-direction: column; /* Розташовуємо елементи вертикально */
  justify-content: center; /* Вирівнюємо по вертикалі */
  align-items: center; /* Вирівнюємо по горизонталі */
  text-align: center;
  margin-top: 20px;
  max-width: 1200px;
  margin: 20px auto; /* Центруємо блок відео по горизонталі */
}

video {
  max-width: 100%;
  height: auto;
}
.header-text {
  font-size: 28px;
  text-align: center;
  margin: 12px;
}
/* ***************************************** */
.listtrainers {
  display: flex;
  flex-direction: column; /* Розташовуємо елементи вертикально */
  align-items: center; /* Вирівнюємо елементи по горизонталі */
  max-width: 1200px; /* Максимальна ширина контейнера */
  margin: 0 auto; /* Центруємо контейнер по горизонталі */
  padding: 20px; /* Додаємо внутрішні відступи */
}
.item-left,
.item-right {
  display: flex;
  align-items: center; /* Центруємо елементи по вертикалі */
  width: 100%; /* Ширина 100% для кожного елемента */
  margin-bottom: 20px; /* Додаємо відступ між елементами */
}

.item-left .photo,
.item-right .photo {
  max-width: 40%; /* Обмежуємо ширину зображення */
  max-height: 60%; /* Обмежуємо висоту зображення */
  object-fit: cover; /* Зберігаємо пропорції зображення */
}

.item-left .text,
.item-right .text {
  padding-left: 20px; /* Додаємо відступ між фото і текстом */
  width: 50%; /* Ширина колонки з текстом */
}
.item-right {
  flex-direction: row-reverse; /* Розташовуємо зображення праворуч */
}
.train-header {
  font-size: 2em; /* Збільшуємо розмір шрифту для заголовка */
  font-weight: bold; /* Робимо шрифт жирним */
}

.train-status {
  font-size: 1.8em; /* Збільшуємо розмір шрифту для статусу */
  color: #888585; /* Змінюємо колір тексту для статусу */
}

.info {
  margin-top: 10px; /* Додаємо верхній відступ для додаткової інформації */
}
.info li {
  position: relative; /* Встановлюємо відносне позиціонування для маркерів */
  margin-bottom: 10px;
  padding-left: 20px; /* Додаємо відступ для маркерів */
}

.info li::before {
  content: '-'; /* Встановлюємо символ для маркерів */
  position: absolute;
  left: 0;
  color: white; /* Колір маркера */
}
/* ***************************************** */
.services {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 11%,
    rgba(255, 30, 16, 1) 47%,
    rgba(255, 30, 16, 1) 50%,
    rgba(255, 30, 16, 1) 53%,
    rgba(0, 0, 0, 1) 89%
  );
}

.service-item {
  width: 200px;
  border: none;
  padding: 4px;
  text-align: center;
  background-color: none;
}

.service-item img {
  width: 100%;
  height: auto;
  border-radius: 24px;
}

.textfoot {
  margin-top: 20px;
  text-align: center;
}

.textfoot p {
  margin: 5px 0;
}
/* ----------------------------------------------------- */
.gall {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.gallery {
  width: 80%;
  max-width: 800px;
}

.main-photo img {
  width: 100%;
  height: auto;
  border: 2px solid #ccc;
}

.thumbnails {
  display: flex;
  justify-content: start;
  margin-top: 20px;
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
}
.thumbnail {
  display: inline-block;
  margin: 0 10px;
}
.thumbnails img {
  width: 100px;
  height: auto;
  cursor: pointer;
  border: 2px solid #ccc;
  transition: border-color 0.3s;
}

.thumbnails img:hover {
  border: 2px solid red;
}
/* Стилі для смуги прокрутки */
.thumbnails::-webkit-scrollbar {
  height: 10px;
}

.thumbnails::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.thumbnails::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 5px;
}

.thumbnails::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

@media (max-width: 768px) {
  .item-left {
    flex-direction: column; /* В колонку на маленьких екранах */
    align-items: flex-start; /* Вирівнювання по лівому краю */
  }

  .photo,
  .text {
    width: 100%; /* Ширина 100% для кожного елемента в колонці */
  }

  .text {
    padding-left: 0; /* Відміняємо відступ між фото і текстом на маленьких екранах */
    margin-top: 20px; /* Додаємо відступ між фото і текстом */
  }
}

/* -------------------------------------------- */
/* Медіа-запити для адаптивного дизайну */

/* Для мобільних пристроїв */
@media (max-width: 600px) {
  .black-header {
    flex-direction: column; /* Вертикальне розташування кнопок */
  }

  .blbtn {
    width: 100%; /* Кнопки займають всю ширину контейнера */
    margin: 5px 0; /* Відступи між кнопками */
  }
}

/* Для планшетів */
@media (min-width: 601px) and (max-width: 1024px) {
  .black-header {
    flex-direction: row; /* Горизонтальне розташування кнопок */
  }

  .blbtn {
    width: auto; /* Кнопки займають свою природну ширину */
  }
}

/* Для настільних комп'ютерів */
@media (min-width: 1025px) {
  .black-header {
    flex-direction: row; /* Горизонтальне розташування кнопок */
  }

  .blbtn {
    width: auto; /* Кнопки займають свою природну ширину */
  }
}
