:root {
  background: white;
}
html {
  max-width: 720px;
}
/* 
body {
  background: #fff;
}
* {
  color: red;
}
h1 {
  color: green;
}
.box {
  background: rgb(102, 204, 167);
}

#user {
  color: blue;
}
h1,
h2,
button {
  color: #0b5323;
}
.button {
  background: red;
  color: black;
}
div p em {
  color: rgb(96, 16, 107);
} */
.card-dark {
  background: #e4eae5;
}
.Item {
  color: green;
}
.Item:first-child {
  color: blue;
}
.Item:last-child {
  color: chartreuse;
}
p:first-of-type {
  color: red;
}
p:last-of-type {
  color: rgb(214, 19, 165);
}
b:only-of-type {
  color: gold;
}
.Item:nth-last-child(3n + 1) {
  color: red;
  background-color: aliceblue;
}
li:not(Item) {
  background: blue;
  color: black;
}
.input-dark {
  background: rgb(138, 129, 129);
}
.input-dark[required] {
  background: rgb(170, 51, 51);
}
.input-dark[type='number'] {
  background: rgb(34, 199, 75);
}
.small-img[alt~='small'] {
  height: 500px;
}
a[rel~='external'] {
  color: yellow;
}
button[class|='btn'] {
  background: rgb(113, 84, 84);
}
a[class*='btn'] {
  background: rgb(160, 14, 14);
}
a[class$='big'] {
  background: rgb(48, 12, 134);
}
.btn::first-letter {
  color: aqua;
}
.big-text::first-line {
  color: rgb(32, 24, 55);
}
.input-dark::placeholder {
  color: green;
  background: blue;
}
.big-text::before {
  content: '$$$';
  color: gold;
  background-color: rgb(18, 17, 16);
}
.big-text::after {
  content: '*****';
  color: rgb(19, 53, 43);
  background-color: beige;
}
#test:target {
  color: red;
}
.link:active {
  background: purple;
}
.card:active {
  background-color: purple;
}
input {
  background-color: gray;
}
input:focus {
  background-color: red;
}
.card:focus-within {
  background-color: yellow;
}
.card:lang(en) > span::after {
  content: '     (en)';
  color: rgb(12, 152, 152);
}
input[type='checkbox']:checked ~ span {
  background: red;
}
.valid:valid {
  background-color: yellow;
}
