:root {
  --space_s: 8px;
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-b: 36px;

  --size-s: 12px;
  --size-n: 14px;
  --size-d: 16px;
  --size-l: 20px;
  --size-b: 24px;

  --color-border: #dee2e6;
  --color-default: #885ffb;
  --color-primary: rgb(46, 46, 255);

  --color-text: #343a40;
  --color-secondary: #6c757d;
  --color-title: #212529;

  --border-radius-b: 24px;
  --border-radius-d: 12px;
  --border-radius-s: 4px;
  --weight-title: 700px;
  --weight-text: 400px;
  --page-width: 1150px;
  --color-white: #ffffff;

  --page-width-max: 1920px;
  --gap-page: 60px;

  --border-radius-n: 10px;
}
/* =========================== */
.page {
  display: flex;
  gap: 10px;
  width: var(--page-width-max);
  justify-content: center;
  align-items: flex-start;

  background-color: #111827;
  padding: 15px;
  margin: 15px auto;
}
.page_content {
  max-width: var(--page-width-max);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-page);
  font-family: Roboto;
  background-color: #111827;
}
/* =========================== */
.header {
  padding: var(--space-l) 0;
  display: flex;
  flex-direction: column;
  margin-left: 380px;
  margin-right: 380px;
  justify-content: space-between;
  position: sticky;
  max-width: var(--page-width);
}
.upHeader {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: var(--page-width-max);
}
.header_nav {
  display: flex;
  gap: var(--space-l);
  justify-content: end;
  align-items: end;
  text-align: end;
  padding: 12px;
  margin-right: 0;
  padding-right: 0;
}
.logo {
  font-size: var(--size-n);
  font-weight: 700;
  line-height: 100%;
  color: var(--color-white);
  border-radius: var(--border-radius-n);
  background: #885ffb;
  margin-right: 700px;

  width: 40px;
  height: 24px;
  display: flex;
  padding: 8px 12px;
  align-items: flex-start;
  gap: 10px;

  justify-content: center;
  align-items: center;
}
.nav {
  display: flex;
  /* align-self: flex-end;
  align-items: end;
  justify-content: end; */
  gap: 24px;
}
.nav_inline {
  /* gap: var(--space-l); */
  justify-content: end;
}
.nav_link {
  color: var(--color-white);
  font-size: var(--size-d);
  font-weight: var(--weight-text);
  line-height: 100%;
  text-decoration: none;
  align-self: flex-end;
  transition-property: color;
  transition-duration: 1.5s;
}
.divider {
  margin: 0;
  height: 1px;
  background: #253041;
}
.nav_link:hover {
  text-decoration: underline;
  color: var(--color-default);
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++ */
.frameUnder {
  display: flex;
  padding-top: 12px;
  justify-content: space-between;
  align-items: end;
  align-self: stretch;
}
.image {
  display: flex;
  padding: 2px 6px;
  align-items: flex-start;
  gap: 10px;
  width: fit-content;
  height: fit-content;
  border-radius: 4px;
  background: rgba(136, 95, 251, 0.2);
  color: var(--color-default);
  font-size: var(--size-n);
  font-weight: 700;
  line-height: 100%;
  margin-right: 6px;
}

.first {
  display: flex;
  flex-direction: column;
}
.second {
  display: flex;
  flex-direction: column;
}
.adItems {
  display: flex;
  flex-direction: row;
}
.adItem {
  color: var(--color-white);
  font-size: var(--size-n);
  font-weight: var(--weight-text);
  line-height: 100%;
}
.headerLink {
  color: var(--color-white);
  font-size: var(--size-d);
  font-weight: var(--weight-text);
  line-height: 100%;
  text-decoration: none;

  transition-property: color;
  transition-duration: 1.5s;
}
.headerLink:hover {
  text-decoration: underline;
  color: var(--color-default);
}
.userOnline {
  color: var(--color-white);
  font-size: var(--size-n);
  font-weight: var(--weight-text);
  line-height: 100%;
}
/* **************HERO*******************************/
.hero {
  display: flex;
  height: 300px;
  width: var(--page-width);
  padding: 32px;
  margin-left: 380px;
  margin-right: 380px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;

  border-radius: var(--border-radius-b);
  background: radial-gradient(
    632.95% 141.42% at 100% 100%,
    rgba(17, 24, 39, 0) 0%,
    rgba(78, 63, 146, 0.6) 100%
  );

  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.heroTitle {
  width: 600px;
  color: var(--color-white);
  text-align: center;
  font-size: 36px;
  font-weight: var(--weight-title);
  line-height: 100%;
}
.heroDescription {
  width: 600px;
  color: var(--main-additional-font, #9ca3af);
  text-align: center;
  font-family: Inter Tight;
  font-size: var(--size-d);
  font-weight: var(--weight-text);
  line-height: 150%;
}
.heroButton {
  display: flex;
  width: 150px;
  padding: 12px 12px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: var(--border-radius-d);
  background: var(--color-default);

  color: var(--color-white);
  text-align: center;
  font-family: Roboto;
  font-size: var(--size-d);
  font-weight: var(--weight-title);
  line-height: 100%;
  text-decoration: none;

  /* transition-property: color; */
  transition-duration: 1.5s;
}
.heroButton:hover {
  opacity: 0.5;
}
/* ***************About************************ */
.about {
  display: flex;
  width: var(--page-width);
  padding: 32px;
  margin-left: 380px;
  margin-right: 380px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-radius: var(--border-radius-b);
  background: rgba(42, 49, 65, 0.44);
  backdrop-filter: blur(25px);
}
