{{#with data}}
<div class="cards">
    <img src="{{photo}}" weight="360px" height="240px" alt="{{name}}" class="cardPhoto">
    <p class="cardName">{{name}}</p>
    <p class="cardDescription">{{description}}</p>
    <button class="artButton">Read All</button>
</div>
{{/with}}