{{#with data}}

<div class="frameUnder">
    {{#with ad}}
    <div class="adItems">
        <div class="image">Ad</div>
        <div class="adItem">
            <span>{{text}}</span>
            <a class="headerLink" href="{{url}}">{{url}}</a>
        </div>
    </div>
    {{/with}}
    <span class="userOnline">User Online: {{userOnline}}</span>
</div>

{{/with}}